

<div class="container w-50">
  <h1><%= @task.title %></h1>
  <p class="p-3 my-4 bg-info text-dark bg-gradient bg-opacity-50 rounded"><%= @task.details %></p>

  <div class="links">
    <%= link_to 'All tasks', tasks_path, class: "btn btn-primary" %>
    <%= link_to 'Edit this task', edit_task_path(@task.id), class: "btn btn-primary" %>
    <%= link_to 'Delete',
      task_path(@task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary"
    %>
  </div>
</div>
